<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css">
        <title>Projeto Q&A</title>
    </head>

    <body>
        <h1>Projeto Perguntas e Respostas!</h1>
        <p>Não temos nenhuma pergunta no momento, então segure as suas respostas.</p>

        <h3>Listando</h3>
        <ul>
            <li><%= nome %></li>
            <li><%= lang %></li>
            <li><%= empresa %></li>
            <li><%= inscritos %></li>
        </ul>

        <% if(msg){ %>
            <p>Uhhuu segredo!</p>
        <%}%>

        <% produtos.forEach(function(produto) { %>
            <p><%= produto.nome %>: R$<%= produto.preco%></p>
        <% }) %>
    </body>
</html>